table{
    margin: 0 auto;
    font-size: 1.5rem;
    color: rgb(0, 100, 251);
    font-family: 'Arial';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              1px 1px 0 black;
  }
  td, th{
    padding: 2px;
  }
h1 {
    font-size: 300%;
    color: rgb(189, 189, 189);
    text-align:center;
    font-family: 'Arial Bold';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              3px 3px 0 black;
  }
  h2 {
    font-size: 200%;
    color: rgb(189, 189, 189);
    text-align:center;
    font-family: 'Arial Bold';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              3px 3px 0 black;
  }
  h3 {
    font-size: 150%;
    color: rgb(189, 189, 189);
    text-align:center;
    font-family: 'Arial Bold';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              3px 3px 0 black;
  }
  p, figcaption {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    color: rgb(189, 189, 189);
    text-align:center;
    font-family: 'Arial';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              2px 2px 0 black;
  }
  html, body {
    height:100%;
    margin:0 auto;
  }
  body {
    background-color: rgb(55, 0, 121);
    display:flex;
    flex-direction:column;
    height:100vh;
    margin: auto;
    padding:0;
  }
  main{
    flex:1;
    margin-bottom:600px;
  }
  footer {
    position: fixed;
    bottom:0;
    width:100%;
    background-color:rgb(28, 0, 63);
    text-align:center;
  }
  .pic {
          display:block;
          margin:0 auto;
          width:50%;
          height:auto;
  }
  a {
          color: rgb(0, 100, 251);
          text-shadow: 
              0px 0px 0 black,
              0px 0px 0 black,  
              0px 0px 0 black, 
              1px 1px 0 black;
            
  }
  ul, ol{
    font-size: 1.5rem;
    color: rgb(189, 189, 189);
    width: 70%;
    margin: 15px auto;
    font-family: 'Arial';
    text-shadow: 
              -1px -1px 0 black,
              1px -1px 0 black,  
              -1px 1px 0 black, 
              2px 2px 0 black;
  }
  ol{
    width: 50%;
  }
  nav{
    font-size: 120%;
    text-align: center;
  }
  header{
    background-color:rgb(28, 0, 63);
  }
  form{
    display: block;
    font-size: 100%;
      color: rgb(189, 189, 189);
      text-align:center;
      font-family: 'Arial';
      text-shadow: 
                -1px -1px 0 black,
                1px -1px 0 black,  
                -1px 1px 0 black, 
                2px 2px 0 black;
  }
  label {
    line-height: 2;
}
button[type="submit"]{
  background-color:rgb(28, 0, 63);
  color: rgb(189, 189, 189);
}

.