<p><em>"Too tasty to not be shell-fish"</em></p>
<nav>
  <a href="https://webpages.charlotte.edu/icooper2">University webpages</a> 
  † 
  <a href="https://github.com/coopacon">github.com</a>
  † 
  <a href="https://coopacon.github.io">github.io</a>
  † 
  <a href="https://www.linkedin.com/in/isaac-cooper-49a63829a/">LinkedIn</a>
  † 
  <a href="https://www.freecodecamp.org/coopacon">FreeCodeCamp</a>
  † 
  <a href="https://www.codecademy.com/profiles/coopacon">Codecademy</a>
</nav>
<p>Page designed by <a href="IC-Now-Enterprises.com">Indicative Crab</a> &copy;2024, <a href="https://www.freecodecamp.org/certification/coopacon/responsive-web-design">HTML Certification</a> <a href="https://www.freecodecamp.org/certification/coopacon/javascript-algorithms-and-data-structures-v8">Java Script Certification</a> </p>